/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/


@media (max-width: 1366px) {
  .user-avatar {
    width: 80px;
  }
  .user-avatar.online::after {
    width: 20px;
    height: 20px;
  }
  .space-salarie .user-panel .user-name {
    font-size: 15px;
  }
  .user-panel .service-link {
    font-size: 13px;
    padding: 5px 10px;
  }
  .user-panel .see-profile {
    font-size: 14px;
  }
  .actuality-box {
      justify-content: space-around;
      flex-wrap: wrap;
      padding: 10px;
  }
  .actuality-box .actuality-details {
      width: calc(100% - 85px);
      padding: 0;
      margin: 20px 0px;
  }
  .card-body .check-item .check-item-title {
    font-size: 12px;
    margin-bottom: 15px;
    margin-top: 15px;
  }
  .card-body .check-item .check-user-details {
    margin: 10px 0px;
  }
  .user-avatar {
    width: 80px;
  }
  .user-avatar.online::after {
    width: 25px;
    height: 25px;
  }
  .user-owner .u-ow-avatar {
    width: 65px;
  }
  .user-owner .u-ow-grade {
    font-size: 14px;
  }
  .sidebar-menu .sidebar-item .sidebar-title {
    font-size: 13px;
  }
  .sidebar-menu .sidebar-item .sidebar-desc {
    font-size: 11px;
  }
    /* nav bar mobile */
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
/* larg ipad  */
@media (max-width: 1024px)  {

}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (max-width: 768px)  {
  .user-cart-info .btn-update{
    display: none;
  }
  .sidebar-col{
    display: none;
  }
  .flat-menu-toggel{
    display: flex;
  }
    /** CSS here **/
    .header-lg{
      display: none;
  }
  .header-sm .user-avatar {
    margin: 0 auto;
    position: relative;
    width: 35px;
  }
  .header-sm .user-avatar.online::after {
    border: 1px solid #fff;
    width: 11px;
    top: 0px;
    height: 11px;
  }
  header.ui-header {
    background-color: transparent;
  }
  .header-sm {
    display: block;
  }
  .fill-core-box {
    margin: 0;
    padding: 0;
  }
  .actuality-box {
      justify-content: space-around;
      flex-wrap: wrap;
      padding: 10px;
  }
  .actuality-box .actuality-details {
      width: calc(100% - 85px);
      padding: 0;
      margin: 20px 0px;
  }
  .user-cart-info .user-panel-details {
    padding: 30px 0;
  }
  .user-cart-info .user-panel-details .details-cart {
    text-align: center;
  }
  .user-cart-info {
    padding: 45px 15px;
    margin: 0;
  }
  .page-core-box {
    margin: 0;
    margin-top: 30px;
  }
  .btn-update {
    font-size: 10px;
  }
  .user-space .doc-panel {
    flex-wrap: wrap;
  }
  .mutuelle-box.fill-core-box {
    padding: 0;
  }
  .new-folder-form {
    padding: 30px 50px 90px 30px;
  }
  .add-conge-modal.add-formation-modal .modal-body::after{
    display: none;
  }
  .add-note-modal.add-formation-modal .modal-body::after {
    display: none;
  }
  .add-note-modal.add-formation-modal .modal-body {
    padding: 35px;
  }
  .add-note-modal.add-formation-modal .add-formation-form {
    margin-bottom: 30px;
  }
  .add-doc-modal.add-formation-modal .modal-body::after {
    display: none;
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (max-width: 481px) {
  .page-core-box {
    padding: 15px;
  }
  .affectation-cources .managers-box {
    margin: 0;
    margin-right: 0;
    padding: 10px;
  }
  .affectation-cources {
    margin-top: 30px;
  }
  .managers-row.is-active {
    min-height: 230px;
    height: auto;
  }
  .affectation-cources .managers-box .user-panel {
    display: block;
    width: 100%;
    text-align: center;
  }
  .user-owner::before {
    display: none;
  }
  .affectation-cources .managers-box .user-panel .user-avatar::after {
    right: -8px;
  }
  .professional-experiences {
    margin: 0;
    margin-right: 0;
    margin-top: 15px;
  }
  .btn-update {
    font-size: 10px;
  }
  .page-core-header .page-core-block-title .page-core-grp-title {
    margin-left: 0;
  }
  .user-cart-info .user-panel {
    text-align: center;
    margin-top: -90px;
  }
  .user-cart-info .user-avatar {
    width: 120px;
  }
  .user-cart-info {
    margin-top: 50px;
  }
  .page-core-header .page-core-block-title img {
    margin-right: 15px;
  }
  .go-back-element a {
    padding-left: 20px;
    font-size: 15px;
  }
  .user-avatar.online::after {
    right: 0px;
  }
  .go-back-element a::after {
    margin-left: 0;
  }
  .adv-sociaux-details {
    padding: 10px 15px;
  }
  .persons-charge-card {
    margin-bottom: 20px;
  }
  .maladie-box-item {
    margin: 15px 0;
    padding: 30px;
    display: block;
    justify-content: space-between;
  }
  .maladie-item-details {
    width: 100%;
    text-align: center;
  }
  .maladie-item-status {
    width: 100%;
    justify-content: center;
    margin: 16px 0;
  }
  
  .maladie-item-action {
    display: flex;
    justify-content: center;
  }
  .maladie-item-status::after {
    height: 4px;
    width: 45px;
    left: 0;
    bottom: -10px;
    right: 0;
    width: 45px;
    margin: 0 auto;
  }
  .page-core-header .btn-update{
    display: none;
  }
  .senior-user-box {
    padding: 20px 20px;
  }
  .senior-user-box-footer {
    flex-wrap: wrap;
  }
  .senior-user-box-footer .senior-user-footer-item {
    width: 50%;
    text-align: center;
  }
  .other-info {
    padding: 20px 20px;
  }
  .other-info .user-hobbie .hobbie-content {
    width: 100%;
    flex-wrap: wrap;
  }
  .other-info .user-hobbie {
    flex-wrap: wrap;
  }
  .other-info .user-hobbie .hobbie-content .user-checklist {
    width: 100%;
  }
  .hierarchy-box .normal-repos .normal-respo img {
    width: 60px;
  }
  .hierarchy-box .normal-repos .normal-respo-name {
    font-size: 13px;
  }
  .hierarchy-box .normal-repos .normal-respo-job {
    font-size: 11px;
  }
  .hierarchy-box .normal-repos {
    width: 100%;
  }
  .hierarchy-box .respo-box:nth-child(2)::after {
    width: 74%;
  }
  .hierarchy-box {
    margin-top: 30px;
  }
  .calendar-days .nav-tabs .nav-item a {
    padding: 0;
    font-size: 9px;
  }
  .calendar-days .time-table .timezone {
    font-size: 13px;
  }
  .page-core-header {
    flex-wrap: wrap;
  }
  .page-core-header .page-core-block-title {
    width: 100%;
    margin: 15px 0px;
    justify-content: center;
  }
  .urgences-contact-box {
    padding: 20px 30px 20px 20px;
    margin-top: 30px;
  }
  .urgences-contact-box .agent-midical {
    justify-content: center;
    flex-wrap: wrap;
  }
    /** CSS here **/
  .new-folder-form {
    padding: 35px 15px 15px 15px;
  }
  .new-folder-form form {
    padding: 0px 15px 0px 15px;
  }
  .intervention-details .intervention-item {
    margin-top: 40px;
  }
  .new-folder .more-folders-col {
    padding: 0px 15px 0 15px;
  }
  .academic-bg .school-item {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    padding: 30px 0;
    justify-content: center;
  }
  .academic-bg .school-item .school-details {
    padding: 19px 0;
    width: 100%;
  }
  .visas-box .visa-box .visa-img {
    width: auto;
    margin-bottom: 10px;
  }
  .visas-box .visa-box {
    justify-content: center;
    flex-wrap: wrap;
  }
  .visas-box .visa-box .visa-details {
    width: 100%;
  }
  .add-formation-modal .add-formation-title {
    font-size: 22px;
  }
  .add-conge-modal.add-formation-modal .modal-body {
    padding: 35px;
  }
  .conge-hestory {
    padding: 45px 0px;
  }
  .add-note-modal.add-formation-modal .add-formation-form {
    padding-right: 0;
  }
  .add-doc-modal.add-formation-modal .add-formation-form {
    padding: 0 15px;
  }
  .add-doc-modal.add-formation-modal .add-formation-heder {
    padding: 0 15px;
  }
  .user-space .doc-panel .doc-status {
    width: 100%;
  }
  .absences-item {
    flex-wrap: wrap;
  }
  .absences-item .absences-icon {
    width: 100%;
    text-align: center;
  }
  .absences-item .absences-details {
    width: 100%;
    text-align: center;
    margin: 15px 0;
  }
  .absences-item .absences-action {
    width: 100%;
    text-align: center;
  }
  .absences-item .absences-justified {
    justify-content: center;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (max-width: 320px) {

}
