/*-----------------------------------------------------------------------*/


/*--------------------------------  Styles  -----------------------------*/


/*-----------------------------------------------------------------------*/


/* Fonts  */

@font-face {
    font-family: "Helvetica";
    font-display: fallback;
    src: url("../fonts/Helvetica.ttf");
}

@font-face {
    font-family: "SFProDisplay";
    font-display: fallback;
    src: url("../fonts/FontsFree-Net-SFProDisplay-Regular.ttf");
}

@font-face {
    font-family: "SFProDisplay-Medium";
    font-display: fallback;
    src: url("../fonts/SFProDisplay-Medium.ttf");
}

@font-face {
    font-family: "SFProDisplay-Regular";
    font-display: fallback;
    src: url("../fonts/SFProDisplay-Regular.ttf");
}

@font-face {
    font-family: "SFProDisplay-Semibold";
    font-display: fallback;
    src: url("../fonts/SFProDisplay-Semibold.ttf");
}


/* End Fonts  */


/* Global style  */

* {
    color: #848990;
    font-family: "SFProDisplay-Regular";
}

a {
    text-decoration: none;
}

body {
    background-color: #f8fafb;
}
.dropdown-menu.show {
    left: -92px !important;
}
.dropdown:hover .dropdown-menu {
    display: block;
    left: -92px !important;
 }
.flat-menu-toggel{
    position: fixed;
    bottom: 30px;
    right: 15px;
    height: 63px;
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    z-index: 9;
    width: 63px;
    background-color: #84c246;
    box-shadow: 0 0 20px 0px #00000012;
}
.flat-menu-toggel img{
    width: 20px;
    height: 20px;
}
.fill-core-box {
    margin: 15px;
}

.clr-primary {
    color: #F8832D;
}

.clr-success {
    color: #84C246;
}

.b-danger {
    border: 1px solid #FF8686;
}

.b-success {
    border: 1px solid #84C246;
}

.b-default {
    border: 1px solid #EBEBEB;
}
.employs-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.employs-list .employ-item {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.employs-list .employ-item.see-rest{
    color: #88CE36;
    font-size: 15px;
    border: 1px solid #88CE36;
    border-radius: 50%;
}
.employs-list .employ-item img{
    width: 100% !important;
    height: 100% !important;
}
.go-back-element {
    padding: 25px 0;
}

.go-back-element a {
    font-family: 'Rubik', sans-serif;
    font-size: 19px;
    color: #8bcb13;
    position: relative;
}

.go-back-element a::after {
    font-family: FontAwesome;
    content: "\f104 ";
    color: #8bcb13;
    position: absolute;
    font-size: 22px;
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
    margin-left: -15px;
    pointer-events: none;
}

.read-more {
    color: #88CE36;
    font-family: "SFProDisplay-Semibold";
    font-size: 12px;
    text-transform: uppercase;
}

.read-more:hover {
    color: #88CE36;
    font-family: "SFProDisplay-Semibold";
    font-size: 12px;
    text-transform: uppercase;
}

.btn-update {
    font-size: 15px;
    background-color: #88CE36;
    color: #fff;
    padding: 4px 15px;
    display: inline-flex;
    align-items: center;
    min-height: 40px;
    margin-left: auto;
    letter-spacing: 1px;
    font-family: "SFProDisplay-Medium";
}

.btn-update:hover {
    background-color: #88CE36;
    color: #fff;
}

.slect-filter {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.slect-filter .slect-filter-label {
    margin-bottom: 0;
    margin-right: 15px;
    text-transform: uppercase;
}

.slect-filter .dropdown-toggle {
    background-color: #fff;
    border: 1px solid #eeeeee;
}

.slect-filter .dropdown-toggle .filter-option-inner-inner {
    color: #000;
}

.slect-filter .dropdown-menu li:not(.active) a span.text {
    color: #000;
}

.slect-filter .dropdown-menu li.active a span.text {
    color: #fff;
}

.slect-filter .dropdown-item.active,
.slect-filter .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #88ce36;
}
.page-box.space-salarie {
    padding-top: 30px;
}
.fill-core-box {
    margin: 15px;
    padding: 15px 15px;
}
@media (min-width: 1200px) {
    .container {
        max-width: 1310px;
    }
}


/* End Global style  */


/* Header styles  */

header.ui-header {
    background-color: #fff;
}

header.ui-header .header-row {
    min-height: 135px;
    position: relative;
    align-items: center;
}

header.ui-header .header-row .menu-navigation-items {
    text-align: center;
    display: flex;
    width: 85%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

header.ui-header .header-row .menu-navigation-items .menu-navigation-item span {
    font-size: 16px;
    color: #696969;
    display: block;
    font-family: "SFProDisplay-Regular";
    margin-top: 5px;
}
header.ui-header .header-row .menu-navigation-items .menu-navigation-item.active span{
    color: #88CE36;
}

header.ui-header .header-row .menu-navigation-items .menu-navigation-item .manu-icon {
    width: 53px;
    border: 1px solid #ededed;
    height: 53px;
    border-radius: 50%;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}
header.ui-header .header-row .menu-navigation-items .menu-navigation-item.active .manu-icon {
    background-color: #88CE36;
}
header.ui-header .header-row .menu-navigation-items .menu-navigation-item.active{
    position: relative;
}
header.ui-header .header-row .menu-navigation-items .menu-navigation-item.active::after {
    content: "";
    border-bottom: 3px solid #88CE36;
    position: absolute;
    display: block;
    bottom: -27px;
    width: 100%;
}

header.ui-header .header-row .menu-navigation-items .menu-navigation-item .manu-icon img {
    width: 20px;
}
header.ui-header .header-row .menu-navigation-items .menu-navigation-item.active .manu-icon img {
    filter: brightness(0) invert(1);
}

header.ui-header .header-row .header-user-col .user-dropdown-card {
    background-color: transparent;
    position: relative;
    border: none;
    margin-right: 15px;
}

header.ui-header .header-row .header-user-col .user-dropdown-card:focus {
    box-shadow: unset;
}

header.ui-header .header-row .header-user-col .user-dropdown-card::after {
    display: none;
}

header.ui-header .header-row .header-user-col .user-dropdown-card::before {
    font-family: FontAwesome;
    content: "\f107 ";
    color: #848990;
    position: absolute;
    font-size: 22px;
    top: 50%;
    transform: translateY(-50%);
    right: -10px;
    margin-left: -15px;
    pointer-events: none;
}

header.ui-header .header-row .header-user-col .user-dropdown-card img {
    width: 30px;
}

header.ui-header .header-row .header-page-title {
    color: #84c246;
    font-size: 25px;
}

header.ui-header .header-row .header-user-col {
    justify-content: flex-end;
    display: flex;
}

/* header mobile  */
.header-sm {
   display: none;
}
.header-sm .mobile-nav ul {
    display: flex;
    padding-inline-start: 0;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0px 15px;
    margin-bottom: 0;
}
.header-sm .mobile-nav ul li a{
    color: #2C2828;
    font-family: "SFProDisplay-Semibold";
    font-size: 16px;
}
.header-sm .mobile-nav ul li a.menu-moble-toggel img{
    height: 22px;
    width: 25px;
}
.header-sm  .mobile-nav {
    width: 100%;
}
/* sidebarMenu */
.back-filter{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: .5;
}
#sidebarMenu {
    position: fixed;
    transition: .3s ease-in all;
    z-index: 99;
    top: 0;
    left: -100%;
    right: 0;
    background-color: #fff;
    height: 100vh;
    width: calc(100% - 25px);
    border-top-right-radius: 38px;
}
#sidebarMenu.active {
    left: 0;
}
#sidebarMenu .menu-navigation-item {
    height: 58px;
    margin: 5px 0;
    display: flex;
    align-items: center;
    position: relative;
    text-decoration: none;
    padding-left: 27px;
}
#sidebarMenu .menu-sidebar-nav ul{
    padding-inline-start: 0;
    list-style-type: none;
    margin-bottom: 0;
}
#sidebarMenu .menu-navigation-item img{
    height: 27px;
    margin-right: 20px;
    width: 27px;
    filter: invert(50%);
}
#sidebarMenu .menu-close {
    position: absolute;
    right: 30px;
    top: 30px;
}
#sidebarMenu .menu-sidebar-nav {
    margin-top: 95px;
}
#sidebarMenu .menu-close img {
    height: 24px;
    width: 24px;
}
#sidebarMenu .menu-navigation-item.active {
    background-color: #F4FCEA;
}
#sidebarMenu .menu-navigation-item.active img{
    filter: invert(0);
}
#sidebarMenu .menu-navigation-item.active span{
    color: #88CE36;
    font-family: "SFProDisplay-Medium";
}
#sidebarMenu .menu-navigation-item.active::before {
    content: "";
    background-color: #84C246;
    height: 100%;
    width: 7px;
    display: block;
    left: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    position: absolute;
}
/* top menu  */
#topMenuMobile {
    position: fixed;
    transition: .3s ease-in all;
    z-index: 99;
    left: 0;
    bottom: 0;
    margin-left: auto;
    right: -100%;
    background-color: #fff;
    height: 0;
    width: calc(100% - 25px);
    border-top-left-radius: 38px;
}
#topMenuMobile.active {
    right: 0;
    height: 100%;
}
#topMenuMobile.active {
    left: 0;
}
#topMenuMobile .menu-navigation-item {
    height: 58px;
    margin: 5px 0;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: flex-end;
    text-decoration: none;
    padding-right: 27px;
}
#topMenuMobile .menu-sidebar-nav ul{
    padding-inline-start: 0;
    list-style-type: none;
    margin-bottom: 0;
}
#topMenuMobile .menu-navigation-item img{
    height: 27px;
    margin-left: 20px;
    width: 27px;
    filter: invert(50%);
}
#topMenuMobile .top-menu-close {
    position: absolute;
    left: 30px;
    top: 30px;
}
#topMenuMobile .menu-sidebar-nav {
    margin-top: 95px;
}
#topMenuMobile .menu-close img {
    height: 24px;
    width: 24px;
}
#topMenuMobile .menu-navigation-item.active {
    background-color: #F4FCEA;
}
#topMenuMobile .menu-navigation-item.active img{
    filter: invert(0);
}
#topMenuMobile .menu-navigation-item.active span{
    color: #88CE36;
    font-family: "SFProDisplay-Medium";
}
#topMenuMobile .menu-navigation-item.active::before {
    content: "";
    background-color: #84C246;
    height: 100%;
    width: 7px;
    display: block;
    right: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    position: absolute;
}
/* End Header styles  */

.box-pannel {
    background-color: #fff;
    border-radius: 10px;
    margin: 15px 0;
    box-shadow: 0 0 20px 0px #00000012;
}


/* user-cart-info styles  */

.user-cart-info {
    min-height: 320px;
    background-color: #fff;
    border-radius: 5px;
    align-items: center;
    box-shadow: 0 0 20px 0px #00000012;
}

.bg-default {
    background-color: #F4F6FA;
    padding: 5px 10px;
    border-radius: 3px;
}
/* user-panel  */

.user-panel .user-ref {
    font-size: 15px;
    margin-bottom: 3px;
    margin-top: 10px;
    font-family: "SFProDisplay-Regular";
}

.user-panel .user-name {
    font-size: 20px;
    color: #475360;
    font-family: "SFProDisplay-Medium";
    margin-bottom: 20px;
}

.space-salarie .user-panel .user-name {
    margin-bottom: 0px;
    font-size: 19px;
    color: #53606E;
    font-family: "SFProDisplay-Medium";
}

.user-panel .u-ow-role {
    font-size: 15px;
    margin-bottom: 3px;
}

.space-salarie .user-panel .u-ow-role {
    margin-bottom: 15px;
}

.user-panel .service-link {
    background-color: #f5faf0;
    font-size: 15px;
    padding: 10px 15px;
    color: #84c246;
    border-radius: 5px;
    font-family: "SFProDisplay-Semibold";
}

.user-avatar {
    margin: 0 auto;
    position: relative;
    width: 110px;
}

.user-avatar.online::after {
    content: "";
    background-color: #88CE36;
    position: absolute;
    border: 3px solid #fff;
    width: 25px;
    right: 0px;
    top: 5px;
    border-radius: 50%;
    height: 25px;
}

.user-avatar img {
    width: 100%;
}

.user-panel {
    text-align: center;
}

.user-panel .see-profile {
    text-align: center;
    color: #A0A0A0;
    font-family: "SFProDisplay-Medium";
    font-size: 16px;
    align-items: center;
    margin-top: 15px;
    border-top: 1px solid #F4F4F4;
    height: 50px;
    justify-content: center;
    display: flex;
}

.space-salarie .user-panel {
    padding-top: 35px;
}


/* user-owner  */

.user-owner {
    text-align: center;
    position: relative;
}

.user-owner::before {
    content: "";
    border-left: 1px solid #EFEFEF;
    position: absolute;
    left: 0;
    height: 90%;
    top: 50%;
    transform: translateY(-50%);
}

.user-owner .u-ow-avatar {
    width: 90px;
}

.user-owner .resps-item img {
    width: 100%;
}

.user-owner .resps-item {
    width: 35px;
    margin: 0 1px;
    height: 35px;
    border-radius: 50%;
}

.user-owner .u-ow-link {
    color: #88ce36;
    font-size: 13px;
    text-decoration: underline;
}

.user-owner .more-resps {
    display: flex;
    justify-content: center;
}

.user-owner .u-ow-grade {
    font-size: 16px;
    text-transform: uppercase;
    color: #87919d;
    font-family: "SFProDisplay-Medium";
}

.user-owner .resps-item.see-rest {
    background-color: #8bc246;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 14px;
}

.user-owner .u-ow-name {
    font-size: 17px;
    font-family: "SFProDisplay-Medium";
    color: #53606e;
}

.user-owner .u-ow-role {
    font-size: 14px;
    margin-bottom: 3px;
    color: #87919d;
    font-family: "SFProDisplay-Regular";
}

.user-owner .u-ow-id {
    font-size: 16px;
    margin-bottom: 3px;
    font-family: "SFProDisplay-Medium";
    text-transform: uppercase;
}


/* End user-cart-info styles  */


/* details-cart  */

.details-cart .user-grade {
    color: #343F4A;
    font-size: 20px;
    font-family: "SFProDisplay-Medium";
}

.details-cart .user-job {
    font-size: 17px;
    letter-spacing: 1px;
    color: #848990;
    font-family: "SFProDisplay-Regular";
    margin-bottom: 0;
}

.details-cart ul.user-contact-info {
    padding-inline-start: 0;
    list-style-type: none;
    margin-top: 25px;
}

.details-cart ul.user-contact-info li {
    color: #626971;
    font-size: 15px;
    font-family: "SFProDisplay-Regular";
    line-height: 22px;
    margin-bottom: 15px;
    position: relative;
    padding-left: 40px;
}

.details-cart ul.user-contact-info li.user-address::before {
    content: "";
    background-image: url(../images/icones/map.svg);
    width: 22px;
    height: 22px;
    background-size: contain;
    background-position: center;
    display: block;
    position: absolute;
    background-repeat: no-repeat;
    left: 0;
}

.details-cart ul.user-contact-info li.user-phone::before {
    content: "";
    background-image: url(../images/icones/phone.svg);
    width: 22px;
    height: 22px;
    background-size: contain;
    background-position: center;
    display: block;
    position: absolute;
    background-repeat: no-repeat;
    left: 0;
}

.details-cart ul.user-contact-info li.user-mail::before {
    content: "";
    background-image: url(../images/icones/message.svg);
    width: 22px;
    height: 22px;
    background-size: contain;
    background-position: center;
    display: block;
    position: absolute;
    background-repeat: no-repeat;
    left: 0;
}


/* end details-cart  */

.user-panel-details .user-coords {
    margin-top: 45px;
}

.user-panel-details .user-coords label {
    color: #959DA5;
    font-size: 13px;
    font-family: "SFProDisplay-Medium";
    text-transform: uppercase;
}

.user-panel-details .user-coords p {
    color: #2B2B2B;
    font-size: 14px;
    font-family: "SFProDisplay-Regular";
}


/* menu sidebar  */

.sidebar-menu {
    background-color: #fff;
    border-radius: 5px;
    margin-top: 15px;
    margin-left: -15px;
    box-shadow: 0 0 20px 0px #00000012;
}

.sidebar-menu .sidebar-item .sidebar-desc {
    font-size: 13px;
    color: #B6BBC1;
    margin-bottom: 0;
    line-height: 14px;
}

.sidebar-menu .sidebar-item .sidebar-title {
    font-size: 15px;
    color: #B6BBC1;
    font-weight: 600;
    margin-bottom: 3px;
    font-family: "SFProDisplay-Semibold";
    letter-spacing: 1px;
}

.sidebar-menu .sidebar-item {
    min-height: 70px;
    padding: 15px 0;
}

.sidebar-menu .sidebar-item a {
    display: flex;
    align-items: center;
    min-height: 70px;
    position: relative;
}

.sidebar-menu .sidebar-item a:hover {
    text-decoration: none;
}

.sidebar-menu .sidebar-item a .sidebar-icon {
    height: 60px;
    width: 60px;
    border: 1px solid #EFEFEF;
    border-radius: 50%;
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-menu .sidebar-item .sidebar-details {
    margin-left: 15px;
}

.sidebar-menu .sidebar-item a .sidebar-icon img {
    width: 25px;
    filter: invert(50%);
}

.sidebar-menu ul {
    padding-inline-start: 0;
    list-style-type: none;
}

.sidebar-menu .sidebar-item.avtive {
    width: 25px;
    filter: invert(50%);
}

.sidebar-menu .sidebar-item.active .sidebar-desc {
    color: #7D848B;
}

.sidebar-menu .sidebar-item.active .sidebar-title {
    color: #353A40;
}

.sidebar-item.active .sidebar-icon {
    background-color: #88ce36;
}

.sidebar-menu .sidebar-item.active a .sidebar-icon img {
    filter: brightness(30);
}

.sidebar-menu .sidebar-item.active a::before {
    content: "";
    background-color: #84C246;
    height: 100%;
    width: 7px;
    display: block;
    left: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    position: absolute;
}


/* END menu sidebar  */


/* Page core box */

.page-core-box {
    margin: 15px;
    margin-right: -15px;
    padding: 40px;
    background-color: #fff;
    border-radius: 5px;
    align-items: center;
    box-shadow: 0 0 20px 0px #00000012;
}


/* End Page core box */


/* Page core header */

.page-core-header {
    display: flex;
    align-items: center;
    font-family: "SFProDisplay-Semibold";
    justify-content: space-between;
}

.page-core-header .page-core-block-title {
    display: flex;
    align-items: center;
}

.page-core-header .page-core-block-title img {
    width: 42px;
}

.page-core-header .page-core-block-title .page-core-grp-title {
    margin-left: 20px;
}

.page-core-header .page-core-block-title .page-core-title {
    font-size: 19px;
    color: #364350;
    font-family: "SFProDisplay-Medium";
    margin-bottom: 3px;
}

.page-core-header .page-core-block-title .page-core-desc {
    font-size: 14px;
    color: #969CA3;
    margin-bottom: 0px;
}


/* End Page core header */


/* Senior user box */

.senior-user-box {
    background-color: #fff;
    border-radius: 5px;
    align-items: center;
    padding: 40px 60px;
    margin-top: 40px;
    padding-bottom: 25px;
    box-shadow: 0 0 20px 0px #00000012;
}

.senior-user-box .senior-user-box-body {
    position: relative;
    padding-bottom: 40px;
}

.senior-user-box .senior-user-box-body::after {
    content: "";
    border-bottom: 1px solid #EFEFEF;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
}

.senior-user-box-footer {
    width: 100%;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

.senior-user-box-footer .senior-user-footer-item p {
    margin-bottom: 0;
}

.senior-user-box-footer .senior-user-footer-item p:first-child {
    color: #959DA5;
    font-size: 13px;
    text-transform: uppercase;
}

.senior-user-box-footer .senior-user-footer-item p:last-child {
    color: #2B2B2B;
    font-size: 14px;
}


/* End Senior user box */


/* other user info  */

.other-info {
    background-color: #fff;
    border-radius: 5px;
    align-items: center;
    padding: 40px 60px;
    margin-top: 40px;
    padding-bottom: 25px;
    box-shadow: 0 0 20px 0px #00000012;
}

.other-info .other-info-title {
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
}

.other-info .user-hobbies {
    margin-top: 35px;
}

.other-info .user-hobbie {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 20px 0;
}

.other-info .user-hobbie .hobbie-name {
    width: 20%;
}

.other-info .user-hobbie .hobbie-content {
    display: flex;
    width: 80%;
}

.other-info .user-hobbie .hobbie-content .actife {
    height: 63px;
    width: 63px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ECEDF0;
    border-radius: 50%;
    box-shadow: 0 0 20px 0px #00000012;
    margin-left: 15px;
}

.other-info .user-hobbie .hobbie-content .actife img {
    width: 40px;
    height: 40px;
}

.other-info .user-hobbie .hobbie-content .user-lang .lang-name {
    color: #2B2B2B;
    font-size: 14px;
    margin-bottom: 0;
    text-transform: uppercase;
}

.other-info .user-hobbie .hobbie-content .user-lang .lang-level {
    color: #A5A5A5;
    font-size: 13px;
    margin-bottom: 6px;
}

.other-info .user-hobbie .hobbie-content .user-lang {
    width: 120px;
}

.ui-progress {
    width: 100%;
    height: 4px;
    position: relative;
}

.ui-progress span {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    border-radius: 4px;
}

.ui-progress.progress-success span {
    background-color: #86D12F;
}

.ui-progress.progress-warning span {
    background-color: #F78F36;
}

.ui-progress.progress-danger span {
    background-color: #FD4358;
}

.other-info .user-hobbie .hobbie-content .user-checklist {
    width: 160px;
}

.other-info .user-hobbie .hobbie-content .user-checklist .checklist-name {
    color: #53606E;
    font-size: 15px;
    letter-spacing: 0px;
}

.other-info .user-hobbie .hobbie-content .user-checklist .ui-progress {
    height: 7px;
}


/* End other user info  */


/* academic bg  */

.academic-bg {
    margin-top: 25px;
    position: relative;
}

.academic-bg .school-item .school-icon {
    background-color: #f8f8f8;
    width: 60px;
    margin-right: 15px;
    height: 60px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 50%;
}

.academic-bg .school-item .school-icon img {
    width: 25px;
    filter: invert(55%);
    opacity: 0.5;
}

.academic-bg .school-item {
    display: flex;
    position: relative;
    padding: 30px 0;
}

.academic-bg .school-item:not(:last-child)::after {
    content: "";
    border-bottom: 1px solid #e6e6e6;
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
}

.edit-action {
    position: absolute;
    right: 0px;
    top: 15px;
}

.edit-action img {
    width: 15px;
}

.academic-bg .school-item .school-title {
    font-size: 17px;
    color: #353A40;
    margin-bottom: 3px;
}

.academic-bg .school-item .school-under-title {
    font-size: 14px;
    color: #9ba0a6;
}

.academic-bg .school-item .school-details p {
    font-size: 12px;
    margin-bottom: 3px;
}


/* End academic bg  */


/* Documents  */

.user-docs .doc-panel {
    display: flex;
    width: 100%;
    margin-top: 15px;
    position: relative;
    padding: 25px 0;
    border: 2px solid #eeeeee;
    border-radius: 10px;
}

.user-docs .doc-panel .doc-icon {
    height: 60px;
    width: 60px;
    border: 1px solid #EFEFEF;
    border-radius: 50%;
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-docs .doc-panel .doc-icon img {
    width: 25px;
}

.user-docs .doc-panel .doc-title {
    font-family: "SFProDisplay-Medium";
    font-size: 19px;
    color: #364350;
    margin-bottom: 3px;
}

.user-docs .doc-panel .doc-date {
    font-size: 12px;
    margin-bottom: 3px;
}

.user-docs .doc-panel .doc-type {
    margin-top: 10px;
}

.user-docs .doc-panel .doc-type span {
    background-color: #f5faf0;
    align-items: center;
    padding: 8px 15px;
    border-radius: 5px;
    font-family: "SFProDisplay-Medium";
    font-size: 13px;
    color: #88ce36;
}

.user-docs .doc-panel .doc-details {
    margin-left: 15px;
}

.doc-download-action {
    position: absolute;
    right: 15px;
    top: 15px;
    border-radius: 50%;
    display: flex;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    border: 1px solid #eeeeee;
}

.doc-download-action img {
    width: 15px;
    filter: invert(50%);
}


/* End Documents  */


/* hierarchy  */

.hierarchy-box {
    text-align: center;
}

.hierarchy-box .respo-box {
    margin-bottom: 80px;
    position: relative;
}

.hierarchy-box .respo-box:nth-child(1)::before {
    content: "";
    border-right: 1px dashed #eeeeee;
    position: absolute;
    height: 50px;
    width: 1px;
    margin: 0 auto;
    left: 0;
    bottom: -60px;
    right: 0;
}

.hierarchy-box .respo-box:nth-child(2)::before {
    content: "";
    border-right: 1px dashed #eeeeee;
    position: absolute;
    height: 26px;
    width: 1px;
    margin: 0 auto;
    left: 0;
    bottom: -30px;
    right: 0;
}

.hierarchy-box .respo-box:nth-child(2)::after {
    content: "";
    border-bottom: 1px dashed #eeeeee;
    position: absolute;
    width: 60%;
    margin: 0 auto;
    left: 0;
    bottom: -30px;
    right: -11px;
}

.hierarchy-box .respo-box .respo-img {
    width: 100px;
    height: 100px;
    padding: 5px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.hierarchy-box .respo-box.respo-warning .respo-img {
    border: 5px solid #f49525;
}

.hierarchy-box .respo-box.respo-success .respo-img {
    border: 5px solid #88ce36;
}

.hierarchy-box .respo-box .respo-img img {
    border-radius: 50%;
    width: 80px;
}

.hierarchy-box .respo-box .respo-grade {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    margin-top: -15px;
}

.hierarchy-box .respo-box .respo-grade p {
    margin: 0 auto;
    color: #fff;
    z-index: 2;
    position: relative;
    padding: 5px 15px;
    font-size: 13px;
    border-radius: 5px;
}

.hierarchy-box .respo-box .respo-details .respo-name {
    font-size: 20px;
    color: #475360;
    margin-bottom: 0px;
}

.hierarchy-box .respo-box .respo-details .respo-job {
    font-size: 15px;
    margin-bottom: 3px;
}

.hierarchy-box .respo-box .respo-details .respo-ref {
    font-size: 13px;
    margin-bottom: 3px;
}

.hierarchy-box .respo-box.respo-warning .respo-grade p {
    background-color: #f49525;
}

.hierarchy-box .respo-box.respo-box.respo-success .respo-grade p {
    background-color: #88ce36;
}

.hierarchy-box .normal-repos .normal-respo img {
    width: 90px;
}

.hierarchy-box .normal-repos {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-around;
}

.hierarchy-box .normal-repos .normal-respo-name {
    font-size: 16px;
    color: #475360;
    margin-bottom: 0px;
}

.hierarchy-box .normal-repos .normal-respo-job {
    font-size: 13px;
}

.hierarchy-box .normal-repos .normal-respo {
    position: relative;
}

.hierarchy-box .normal-repos .normal-respo::after {
    content: "";
    border-right: 1px dashed #eeeeee;
    position: absolute;
    height: 50px;
    width: 1px;
    margin: 0 auto;
    left: 0;
    top: -50px;
    right: 0;
}


/* End hierarchy  */


/* affectation cources  */

.affectation-cources .managers-box {
    margin: 15px;
    margin-right: -15px;
    padding: 40px;
    padding-top: 10px;
    background-color: #fff;
    border-radius: 5px;
    align-items: center;
    box-shadow: 0 0 20px 0px #00000012;
    margin-top: 40px;
}

.affectation-cources .managers-box .user-panel {
    display: flex;
    width: 100%;
    text-align: left;
    align-items: flex-start;
}

.affectation-cources .managers-box .user-panel .user-avatar::after {
    width: 20px;
    right: 3px;
    top: 3px;
    height: 20px;
}

.affectation-cources .user-panel .user-avatar img {
    width: 90px;
}

.affectation-cources .user-panel .current-status {
    margin-bottom: 3px;
    font-size: 14px;
    color: #88ce36;
}

.affectation-cources .user-panel .user-job {
    color: #343F4A;
    font-size: 20px;
    margin-bottom: 10px;
}

.affectation-cources .user-panel .user-service {
    background-color: #f0f7fa;
    padding: 4px 10px;
    font-size: 14px;
    color: #5cafe6;
    display: inline;
}

.affectation-cources .user-details {
    margin-left: 20px;
}

.affectation-cources .user-location {
    font-size: 15px;
    margin-top: 5px;
}

.affectation-cources .user-location i {
    margin-right: 5px;
}

.affectation-cources .managers-row {
    position: relative;
    padding-bottom: 40px;
}

.affectation-cources .managers-row:not(:last-child)::after {
    content: "";
    width: calc(100% + 80px);
    position: absolute;
    display: block;
    bottom: 0;
    left: -40px;
    right: 0;
    border-bottom: 1px solid #eeeeee;
}

.managers-header {
    height: 50px;
    cursor: pointer;
}

.managers-header>.row {
    align-items: center;
    height: 100%;
}

.managers-header .managers-header-title p {
    margin-bottom: 0;
}

.managers-header .managers-header-title i {
    font-size: 20px;
    margin-right: 15px;
}

.service-bay {
    background-color: #f0f1fa;
    padding: 6px 15px;
    font-size: 14px;
    color: #8d7cea;
    border-radius: 5px;
    display: inline;
}

.service-comptable {
    background-color: #f0f7fa;
    padding: 6px 15px;
    font-size: 14px;
    color: #5cafe6;
    border-radius: 5px;
    display: inline;
}

.managers-row {
    height: 50px;
    overflow: hidden;
    transition: .5s all ease-in;
}

.managers-row.is-active {
    height: 230px;
    padding-top: 45px;
    overflow: hidden;
    transition: .4s all ease-in-out;
}

.managers-row.is-active .managers-header {
    display: none;
}


/* End affectation cources  */


/* professional experiences */

.professional-experiences {
    margin: 15px;
    margin-right: -15px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    align-items: center;
    padding-bottom: 0px;
    box-shadow: 0 0 20px 0px #00000012;
}

.professional-experiences .pro-exp-item {
    position: relative;
    display: flex;
    width: 100%;
    transition: 0.5s all ease-in;
    margin-top: 20px;
    height: 140px;
    overflow: hidden;
}

.professional-experiences .pro-exp-item:not(:last-child)::after {
    content: "";
    border-bottom: 1px solid #eeeeee;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
}

.professional-experiences .pro-exp-item .pro-exp-icon {
    width: 60px;
    height: 60px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-right: 40px;
    border-radius: 50%;
    border: 1px solid #eeeeee;
}

.professional-experiences .pro-exp-item .pro-exp-icon img {
    width: 30px;
}

.professional-experiences .pro-exp-item .pro-exp-title {
    color: #343F4A;
    font-size: 15px;
    font-family: "SFProDisplay-Semibold";
    margin-bottom: 0px;
}

.professional-experiences .pro-exp-item .pro-exp-marke {
    color: #343F4A;
    font-size: 13px;
    margin-bottom: 3px;
}

.professional-experiences .pro-exp-item .pro-exp-desc {
    font-size: 14px;
    margin-bottom: 3px;
}

.professional-experiences .pro-exp-item .pro-exp-tool {
    color: #343F4A;
    font-size: 14px;
    margin-bottom: 0px;
}

.professional-experiences .pro-exp-item .pro-exp-details {
    position: relative;
}

.professional-experiences .pro-exp-item .pro-exp-more {
    right: 0;
    color: #88ce36;
    position: absolute;
    font-size: 14px;
    height: 30px;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
}

.professional-experiences .pro-exp-item .pro-exp-more i {
    color: #88ce36;
    font-size: 14px;
    margin-left: 5px;
}

.professional-experiences .pro-exp-item .edit-action {
    top: 0;
}

.professional-experiences .pro-exp-see-more {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.professional-experiences .pro-exp-see-more a {
    color: #88ce36;
    font-size: 17px;
}

.professional-experiences .pro-exp-see-more a i {
    color: #88ce36;
    font-size: 17px;
    margin-left: 5px;
}


/* End professional experiences */


/* Avantages sociaux-box  */

.avantages-sociaux-box {
    margin-top: 50px;
}

.avantages-sociaux-box .adv-sociaux-item {
    border: 1px solid #eeeeee;
    margin-bottom: 20px;
    padding: 30px 0;
    border-radius: 5px;
    box-shadow: 0 0 20px 0px #00000012;
}

.avantages-sociaux-box .adv-sociaux-item>.row {
    align-items: center;
}

.avantages-sociaux-box .adv-sociaux-item .adv-sociaux-icon {
    display: flex;
    margin-left: 30px;
    align-items: center;
}

.avantages-sociaux-box .adv-sociaux-item .adv-sociaux-icon img {
    width: 70px;
    margin-right: 15px;
    height: 70px;
}

.avantages-sociaux-box .adv-sociaux-item .adv-sociaux-icon p {
    margin-bottom: 0;
    font-size: 21px;
    color: #364350;
}

.avantages-sociaux-box .adv-sociaux-item .adv-sociaux-details p {
    margin-bottom: 2px;
    font-size: 15px;
}

.persons-charge {
    margin-top: 30px;
}

.charged-pers {
    font-size: 19px;
    color: #364350;
    margin-bottom: 3px;
}

.persons-charge-card .persons-charge-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.persons-charge-card .persons-charge-img img {
    width: 65px;
}

.persons-charge-card {
    border: 1px solid #eeeeee;
    padding: 20px 15px;
    border-radius: 5px;
    box-shadow: 0 0 20px 0px #00000012;
}

.persons-charge-card>.row {
    align-items: center;
}

.persons-charge-card>.row [class*="col-"] {
    padding: 0;
}

.persons-charge-card .persons-charge-name {
    font-size: 17px;
    color: #364350;
    margin-bottom: 3px;
}

.persons-charge-card .persons-charge-phone {
    font-size: 15px;
    color: #58616b;
    margin-bottom: 3px;
}

.persons-charge-card .persons-charge-date {
    margin-bottom: 0;
    font-size: 14px;
    color: #a39cae;
}

.persons-charge-card .persons-charge-status {
    color: #fff;
    border-radius: 5px;
    font-size: 13px;
    padding: 4px 12px;
    top: -10px;
    position: relative;
    display: inline-block;
}

.persons-charge-card .persons-charge-status.skin-success {
    background-color: #88ce36;
}

.persons-charge-card .persons-charge-status.skin-primary {
    background-color: #00a1ff;
}


/*--------- Horaires page ------*/

.calendar-days {
    box-shadow: 0 0 20px 0px #00000012;
    margin-top: 50px;
}

.calendar-days .nav-tabs {
    width: 100%;
}

.calendar-days .nav-tabs .nav-item {
    margin-bottom: -1px;
    width: calc(100% / 7);
    text-align: center;
    height: 52px;
    background-color: #f8fafb;
}

.calendar-days .nav-tabs .nav-item a {
    border: none;
    border-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #B0B6BC;
    position: relative;
    font-size: 15px;
}

.calendar-days .nav-tabs .nav-item a.active {
    color: #88CE36;
}

.calendar-days .nav-tabs .nav-item a.active::after {
    content: "";
    border-top: 2px solid #88CE36;
    display: block;
    position: absolute;
    top: 0;
    width: 85%;
    left: 0;
}

.calendar-days .time-table {
    padding: 23px;
    margin-top: 50px;
}

.calendar-days .time-table .timezone {
    color: #525960;
    font-family: "SFProDisplay-Medium";
    font-size: 15px;
}


/* urgences-contact-box */

.urgences-contact-box {
    border: 1px solid #EDEDED;
    border-radius: 15px;
    padding: 34px 55px 34px 55px;
    margin-top: 52px;
}

.urgences-contact-box .u-box-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.urgences-contact-box .u-box-head .u-box-title .u-box-top-title {
    color: #ADB6BF;
    text-transform: uppercase;
    font-size: 13px;
    margin-bottom: 3px;
}

.urgences-contact-box .u-box-head .u-box-title .u-box-under-title {
    color: #404B57;
    font-size: 17px;
    margin-bottom: 7px;
    font-weight: 600;
    letter-spacing: 1px;
}

.urgences-contact-box .u-box-head .u-box-title {
    position: relative;
}

.urgences-contact-box .u-box-head .u-box-title::after {
    content: "";
    border-bottom: 4px solid #F84863;
    border-radius: 2px;
    width: 27px;
    display: block;
    left: 0;
    bottom: 0;
}

.urgences-contact-box .u-box-head .u-box-icon {
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.urgences-contact-box .agent-midical {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}

.urgences-contact-box .agent-midical .agent-info,
.urgences-contact-box .agent-midical .agent-action {
    display: flex;
    align-items: center;
}

.urgences-contact-box .agent-midical .agent-info p,
.urgences-contact-box .agent-midical .agent-action p {
    margin-bottom: 0;
}

.urgences-contact-box .agent-midical .agent-info img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.urgences-contact-box .agent-midical .agent-info .agent-name {
    color: #44515F;
    font-size: 14px;
    font-family: "SFProDisplay-Medium";
    margin-left: 15px;
}

.urgences-contact-box .agent-midical .agent-action .agent-phone {
    color: #87919D;
    font-size: 14px;
    font-family: "SFProDisplay-Medium";
    margin-right: 15px;
}


/* visas page  */

.visas-box {
    margin-top: 45px;
}

.visas-box .visa-box {
    border-radius: 15px;
    padding: 25px 35px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    align-items: center;
}

.visas-box .visa-box .visa-img {
    width: 135px;
}

.visas-box .visa-box .visa-img img {
    width: 68px;
    height: 68px;
}

.visas-box .visa-box .visa-details {
    width: calc(100% - 135px);
}

.visas-box .visa-box .visa-details .v-title {
    color: #323D4A;
    font-size: 16px;
    font-family: "SFProDisplay-Medium";
    margin-bottom: 2px;
}

.visas-box .visa-box .visa-img .v-name {
    color: #2D3743;
    font-size: 16px;
    font-family: "SFProDisplay-Medium";
    margin-bottom: 2px;
    margin-top: 15px;
}

.visas-box .visa-box .visa-details .v-under-title {
    color: #87919D;
    font-size: 13px;
    font-family: "SFProDisplay-Regular";
    margin-bottom: 2px;
}

.visas-box .visa-box .visa-details .v-type {
    color: #84C246;
    font-size: 12px;
    font-family: "SFProDisplay-Semibold";
    margin-bottom: 2px;
    background-color: #F5FAF0;
    display: inline-block;
    padding: 2px 14px;
    border-radius: 5px;
}

.visas-box .visa-box .visa-details .v-desc {
    color: #87919D;
    font-size: 13px;
    font-family: "SFProDisplay-Regular";
    margin-bottom: 2px;
}

.ui-pagination {
    margin-top: 60px;
}

.ui-pagination .pagination-items {
    margin: 0 auto;
    display: flex;
    list-style-type: none;
    padding-inline-start: 0;
    justify-content: center;
}

.ui-pagination .pagination-items li {
    width: 34px;
    height: 34px;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 5px;
}

.ui-pagination .pagination-items li a img {
    width: 8px;
    height: 14px;
}

.ui-pagination .pagination-items li a img {
    width: 8px;
    height: 14px;
}

.ui-pagination .pagination-items li a {
    color: #A0A0A0;
    font-family: "SFProDisplay-Regular";
    font-size: 14px;
    text-decoration: none;
}

.ui-pagination .pagination-items li.active {
    background-color: #88CE36;
}

.ui-pagination .pagination-items li.active a {
    color: #fff;
}


/* checklist  */

.checklist-box {
    margin-top: 50px;
}

.checklist-box .card {
    border: 1px solid #E8E8E8;
    border-radius: 5px !important;
    background-color: #fff;
    box-shadow: 0 0 20px 0px #00000012;
    margin: 8px 0;
}

.checklist-box .card .card-header {
    margin-bottom: -1px;
    background-color: #fff;
    height: 63px;
    display: flex;
    border: none;
    align-items: center;
    justify-content: space-between;
}

.checklist-box .card .card-header h2 button {
    color: #4D4F55;
    font-size: 15px;
    font-family: "SFProDisplay-Semibold";
    text-transform: uppercase;
    margin-bottom: 0;
    text-decoration: none;
}

.checklist-box .card .card-header h2 button img {
    margin-right: 15px;
    width: 9px;
    height: 14px;
}

.checklist-box .card .card-header h2 {
    margin-bottom: 0;
}

.circle-progress-box {
    background-color: #EBEBEB;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.circle-progress-box .circle-progress {
    width: 100%;
    right: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    align-items: center;
    justify-content: center;
}

.circle-progress-box .circle-progress .circle-percentage {
    margin-bottom: 0;
    color: #FD9924;
    font-size: 12px;
    background-color: #fff;
    position: absolute;
    top: 2px;
    border-radius: 50%;
    display: flex;
    bottom: 2px;
    justify-content: center;
    align-items: center;
    left: 2px;
    right: 2px;
}

.circle-progress-box .circle-contrent {
    background-color: #fff;
    z-index: 1;
    border-radius: 50%;
    width: 38px;
    display: flex;
    font-size: 12px;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 38px;
    margin-bottom: 0;
}

.card-body .check-item .check-item-title {
    font-size: 15px;
    color: #4D4F55;
    font-family: "SFProDisplay-Semibold";
    margin-bottom: 0;
}

.card-body .check-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 50px;
    box-shadow:0 0 20px 0px #00000012;
    border-radius: 10px;
    padding: 0 30px;
    position: relative;
    margin-bottom: 15px;
    flex-wrap: wrap;
}

.card-body .check-item::after {
    content: "";
    border-left: 7px solid #FC4C59;
    position: absolute;
    display: block;
    height: 100%;
    left: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.card-body .check-item.is-cheked::after {
    content: "";
    border-left: 7px solid #8BD634;
    position: absolute;
    display: block;
    height: 100%;
    left: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.card-body .check-item .check-user-details {
    display: flex;
    align-items: center;
}

.card-body .check-item .check-user-details .check-user-name {
    color: #555252;
    font-size: 12px;
    font-family: "SFProDisplay-Medium";
    margin-bottom: 0;
}

.card-body .check-item .check-user-infos {
    margin-left: 10px;
}

.card-body .check-item .check-user-details .check-user-date {
    font-size: 10px;
    margin-bottom: 0;
    color: #B1B1B1;
    font-family: "SFProDisplay-Medium";
}

.message-box img {
    width: 25px;
    height: 18px;
}

.message-box {
    position: relative;
}

.message-box .messages-number {
    border-radius: 50%;
    width: 19px;
    top: -7px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    margin-bottom: 0;
    right: -10px;
    position: absolute;
    height: 19px;
    color: #fff;
    background-color: #FC5959;
}

.popover-cart {
    border-radius: 15px;
    padding: 20px 35px;
    box-shadow: 0 0 20px 0px #00000012;
}

.popover-cart .popover-head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    align-items: center;
}

.popover-cart .popover-head .popover-title {
    font-size: 15px;
    color: #484A50;
    margin-bottom: 0;
    font-family: "SFProDisplay-Semibold";
}

.popover-cart .popover-head .popover-close {
    width: 36px;
    height: 36px;
    background-color: #F8F8F8;
    display: flex;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
}

.popover-cart .popover-body {
    padding: 20px 40px 0px 0px;
}

.popover-cart .popover-popover-body p {
    padding: 20px 40px 0px 0px;
    color: #9FA1A5;
    font-size: 13px;
    font-family: "SFProDisplay-Regular";
}

.popover {
    border: none;
    max-width: 420px;
}

.add-formation-modal .modal-content {
    background-color: #ffffff;
    border-radius: 20px;
}

.add-formation-modal .add-formation-title {
    color: #39414B;
    font-size: 26px;
    font-family: "SFProDisplay-Medium";
}

.add-formation-modal .add-formation-heder {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.add-formation-modal .modal-body {
    padding: 30px;
}

.add-formation-modal .close-modal-formation img {
    width: 26px;
    height: 26px;
}

.add-formation-modal .add-formation-form label {
    color: #000000;
    font-family: "SFProDisplay-Regular";
    font-size: 14px;
}

.add-formation-modal .add-formation-form .form-control {
    border-radius: 4px;
    box-shadow: 0 0 20px 0px #00000012;
    border-color: #EDEDED;
    height: 50px;
}

.add-formation-modal .add-formation-form textarea.form-control{
    height: auto;
}

.add-formation-modal .add-formation-form .form-control::placeholder {
    color: #9F9F9F;
    font-family: "SFProDisplay-Regular";
    font-size: 14px;
}

.add-formation-modal .dates-row {
    margin-right: -5px;
    margin-left: -5px;
}

.add-formation-modal .dates-row {
    margin-right: -5px;
    margin-left: -5px;
}

.add-formation-modal .dates-row [class*="col-"] {
    padding-left: 5px;
    padding-right: 5px;
}

.add-formation-modal .dates-row .date {
    position: relative;
}

.add-formation-modal .dates-row .date input {
    text-indent: 35px;
}

.add-formation-modal .dates-row .date::after {
    content: "";
    background-image: url(../images/icones/calendar.svg);
    width: 18px;
    height: 16px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
}

.add-formation-modal .file-etablissement-logo-label {
    border: 1px solid #E2F2D3;
    border-radius: 5px;
    color: #88CE36 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    cursor: pointer;
    background-color: #F5FAF0;
}

.add-formation-modal .file-etablissement-logo-label img {
    margin-right: 10px;
    width: 18px;
    height: 16px;
}

#etablissementLogo {
    display: none;
}

.form-control:focus {
    color: initial;
    background-color: unset;
    border-color: none;
    outline: 0;
    box-shadow: none;
}

.add-formation-modal .add-formation-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
}

.add-formation-modal .add-formation-actions .btn-update {
    margin-left: 10px;
}

.btn-cancel {
    color: #848C95;
    font-size: 15px;
}

.days-solde-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 15px;
}

.days-solde-panel .days-solde-abs {
    width: 50%;
    position: relative;
}

.days-solde-panel .days-solde-abs:first-child::after {
    content: "";
    border-right: 1px solid #F0F0F0;
    position: absolute;
    height: 80%;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.days-solde-panel .days-solde-title {
    font-size: 13px;
    color: #3E3E3E;
    font-family: "SFProDisplay-Semibold";
    margin-bottom: 0;
}

.days-solde-panel .days-solde-number {
    font-size: 46px;
    font-family: "SFProDisplay-Medium";
    margin-bottom: 0;
}

.days-solde-panel .days-solde-label {
    font-size: 16px;
    font-family: "SFProDisplay-Medium";
    color: #C3C3C3;
    margin-bottom: 0;
}


/* profil-articles  */

.box-pannel-head {
    height: 53px;
    display: flex;
    text-align: center;
    padding-left: 15px;
    align-items: center;
    border-bottom: 1px solid #F4F4F4;
    justify-content: flex-start;
}

.box-pannel-head .box-pannel-head-title {
    font-size: 13px;
    margin-bottom: 0;
    font-family: "SFProDisplay-Semibold";
    text-align: center;
}

.profil-articles .profil-article {
    min-height: 58px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #F4F4F4;
}

.profil-articles .profil-article .profil-article-icon img {
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

.profil-articles .profil-article .profil-article-dec p {
    color: #414141;
    font-size: 14px;
    font-family: "SFProDisplay-Regular";
    margin-bottom: 0;
}


/* news-box-panel  */

.news-box-panel {
    padding: 15px;
    padding-top: 0;
}

.news-box-panel .news-img img {
    width: 100%;
    border-radius: 8px;
}

.news-box-panel .news-box-head .news-box-head-title {
    color: #242222;
    font-family: "SFProDisplay-Semibold";
    font-size: 14px;
    padding: 14px 0;
    margin-bottom: 0;
}

.news-box-panel .news-date {
    color: #B5B5B5;
    font-family: "SFProDisplay-Regular";
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 0;
}

.news-box-panel .news-desc {
    color: #1C1C1C;
    font-family: "SFProDisplay-Medium";
    font-size: 15px;
    margin-bottom: 0;
}


/* check-list-panel  */

.check-list-panel .news-box-body .card-header {
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    padding: 4px 10px;
    margin-bottom: 0;
    border-radius: 8px;
    border-bottom: none !important;
}

.check-list-panel .circle-progress-box .circle-contrent {
    width: 34px;
    height: 34px;
}
.check-list-panel .circle-progress-box {
    width: 40px;
    height: 40px;
}
.check-list-panel .news-box-body .card-header button {
    font-size: 12px;
    color: #4D4F55;
    font-family: "SFProDisplay-Medium";
    padding: 0;
    display: flex;
    height: 100%;
    align-items: center;
}

.check-list-panel .news-box-body .card-header button img {
    margin-right: 5px;
}

.check-list-panel {
    padding: 10px;
    padding-top: 0;
}

.check-list-panel .card {
    margin: 10px 0px;
    border-radius: 10px !important;
    border: 1px solid #E8E8E8 !important;
}

.consulte {
    color: #8BCB13;
    background-color: #F5FAF0;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    height: 41px;
    align-items: center;
}

.consulte img {
    width: 19px;
    height: 12px;
    margin-right: 5px;
}


/* collaborators */

.collaborators-box-body {
    display: flex;
    justify-content: space-between;
    padding: 20px 15px;
}

.collaborators-box-body .collaborator-item {
    border: 1px solid #F0F0F0;
    width: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 40px;
    color: #8BCB13;
    border-radius: 50%;
    font-size: 14px;
}

.collaborators-box-body .collaborator-item img {
    width: 100%;
}

.collaborator-details {
    min-height: 50px;
    display: inline-block;
    text-align: center;
    padding: 7px 7px;
    border-bottom: 3px solid #8BCB13;
}

.collaborator-details .c-name {
    color: #2D2E2B;
    font-size: 11px;
    margin-bottom: 0;
}

.collaborator-details .c-cng-date {
    color: #969696;
    font-size: 10px;
    margin-bottom: 0;
}


/* actuality-box  */

.actuality-box {
    background-color: #fff;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin-bottom: 15px;
    padding: 30px;
    box-shadow: 0 0 20px 0px #00000012;
}

.actuality-box .actuality-icon {
    border: 1px solid #F0F0F0;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.actuality-box .actuality-icon img {
    width: 20px;
    height: 26px;
}

.core-box-title {
    color: #C3C3C3;
    font-family: "SFProDisplay-Semibold";
    font-size: 14px;
    margin-bottom: 15px;
}
.actuality-box  .actuality-action-link {
    display: flex;
    border-radius: 5px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    padding: 5px 15px;
    border: 1px solid #ededed;
}
.actuality-box  .actuality-action-link img{
    margin-right: 5px;
}
.actuality-box .actuality-type{
    font-size: 15px;
    padding: 10px 15px;
    border-radius: 5px;
}
.actuality-box.success .actuality-action-link{
    color: #84c246;
}
.actuality-box.primary .actuality-action-link{
    color: #915FEF;
}
.actuality-box.danger .actuality-action-link{
    color: #F05680;
}
.actuality-box.warning .actuality-action-link{
    color: #F78728;
}
.actuality-box.success .actuality-type{
    background-color: #f5faf0;
    color: #84c246;
}
.actuality-box.primary .actuality-type{
    background-color: #F6F2FD;
    color: #915FEF;
}
.actuality-box.danger .actuality-type{
    background-color: #FFF5F8;
    color: #F05680;
}
.actuality-box.warning .actuality-type{
    background-color: #FFF7F0;
    color: #F78728;
}

.actuality-box .actuality-details p {
    color: #1C1C1C;
    font-family: "SFProDisplay-Medium";
    font-size: 15px;
    margin-bottom: 0;
    padding-top: 20px;
}
.actuality-box .actuality-details {
    width: calc(100% - 210px);
    padding: 0px 30px;
}
.actuality-box .actuality-action {
    width: 140px;
}
.mutuelle-box .page-core-header {
    padding: 30px 0;
}
.mutuelle-box.fill-core-box {
    padding: 0 30px;
}
.maladie-box-item{
    background-color: #fff;
    border-radius: 10px;
    margin: 15px 0;
    padding: 30px;
    box-shadow: 0 0 20px 0px #00000012;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.maladie-box-item .number-visites {
    display: flex;
    margin-top: 8px;
    justify-content: space-between;
    align-items: center;
}
.maladie-box-item .number-visites .visit-number {
    margin-bottom: 0;
    text-align: center;
    font-size: 12px;
    color: #1b1f24;
}
.maladie-item-details .maladie-name {
    margin-bottom: 6px;
    color: #000;
    font-size: 14px;
    font-family: "SFProDisplay-Medium";
}
.maladie-item-details .maladie-date {
    margin-bottom: 0;
    font-size: 12px;
}
.maladie-item-details {
    width: 36%;
}
.maladie-item-status {
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 15px;
    width: 41%;
}
.maladie-item-status img{
    width: 25px;
    height: 25px;
}
.maladie-item-status p {
    margin-bottom: 0;
    margin-left: 10px;
    font-size: 15px;
    color: #f54055;
}
.maladie-item-status.valider p {
    color: #84c246;
}
.maladie-item-status.valider::after {
    background-color: #84c246;
}
.maladie-item-status.in-progress p {
    color: #FA8942;
}
.maladie-item-status.in-progress::after {
    background-color: #FA8942;
}
.maladie-item-status.refused p {
    color: #FC5151;
}
.maladie-item-status.refused::after {
    background-color: #FC5151;
}
.maladie-item-status::after {
    content: "";
    height: 45px;
    position: absolute;
    left: 0;
    width: 4px;
    border-radius: 5px;
    background-color: #f54055;
}
.maladie-item-action a {
    display: flex;
    align-items: center;
    width: 35px;
    height: 35px;
    border: 1px solid #e6e9ee;
    justify-content: center;
    border-radius: 50%;
}
.refaund-side-bar {
    background-color: #fff;
    border-radius: 10px;
    margin: 15px 0;
    box-shadow: 0 0 20px 0px #00000012;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.refaund-side-bar .refaund-box-info {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 39.5px  30px;
}
.refaund-side-bar .refaund-box-info:first-child {
    border-right: 1px solid #f5faf0;
}
.refaund-side-bar .refaund-box-info img{
    width: 35px;
    height: 28px;
}
.refaund-side-bar .refaund-box-info img{
    width: 59px;
    height: 71px;
}
.refaund-side-bar .refaund-box-info.col-12 {
    text-align: left;
    justify-content: space-around;
}
.refaund-side-bar .refaund-box-info:not(:last-child) {
    border-bottom: 1px solid #f5faf0;
}
.refaund-box-info .info-number {
    margin-bottom: 0;
    color: #000;
    font-size: 22px;
    margin-top: 5px;
}
.refaund-box-info .info-text {
    margin-bottom: 0;
    font-size: 12px;
    line-height: 14px;
}
.conge-box-details .conge-num {
    font-family: "SFProDisplay-Medium";
    color: #88CE36;
    font-size: 60px;
    text-align: center;
}
.conge-box-details {
   width: 100%;
   padding: 0 35px;
}
.conge-box-details .conge-desc {
    font-family: "SFProDisplay-Semibold";
    color: #A2A6AC;
    font-size: 15px;
    text-align: center;
}
/* deplacement */
.maladie-item-details .deplacement-box {
    display: flex;
    align-items: center;
}
.maladie-item-details .deplacement-box img{
    width: 23px;
    height: 39px;
    margin-right: 15px;
}
.notes-to-do .maladie-item-status .ui-progress{
    background-color: #EDEDED;
    border-radius: 6px;
    height: 7px;
}
.notes-to-do .maladie-item-status::after{
   display: none;
}
.notes-to-do .maladie-item-status{
   display: block;
}
.notes-to-do .maladie-item-status .note-rembource{
   color: #53606E;
   font-size: 14px;
   font-family: "SFProDisplay-Semibold";
   margin-bottom: 5px;
   margin-top: 5px;
}
.notes-to-do .maladie-item-status .note-rembource span{
   color: #B4BABF;
   font-size: 14px;
   font-family: "SFProDisplay-Semibold";
}

/* user-space documents  */
.user-space .doc-panel{
    background-color: #fff;
    border-radius: 10px;
    margin: 15px 0;
    padding: 30px;
    justify-content: space-between;
    border: none;
    box-shadow: 0 0 20px 0px #00000012;
}
.user-space .doc-panel .doc-date-depo{
    font-family: "SFProDisplay-Medium";
    font-size: 14px;
    color: #53606E;
    margin-bottom: 0;
}
.user-space .doc-panel .doc-status p {
    font-family: "SFProDisplay-Medium";
    margin-bottom: 0;
    font-size: 15px;
    margin-left: 10px;
}
.user-space .doc-panel .doc-status {
    display: flex;
    align-items: center;
    position: relative;
    width: 33%;
}
.user-space .doc-panel .doc-status::after {
    content: "";
    background-color: #63B8ED;
    height: 46px;
    width: 4px;
    position: absolute;
    left: -10px;
    border-radius: 4px;
}
.user-space .doc-panel .doc-status.in-progress::after {
    content: "";
    background-color: #63B8ED;
}
.user-space .doc-panel .doc-status.in-progress p {
    color: #63B8ED;
}
.user-space .doc-panel .doc-status.checked::after {
    content: "";
    background-color:#8EC930;
}
.user-space .doc-panel .doc-status.checked p {
    color: #8EC930;
}
.user-space.user-docs .doc-panel .doc-details {
    width: 46%;
}
.refaund-side-bar .doc-panel{
    margin-top: 0;
    border: none;
    border-bottom: 1px solid #F2F2F2;
    border-radius: 0;
}
.refaund-side-bar .user-docs .doc-panel .doc-title {
    font-size: 14px;
}
.refaund-side-bar .user-docs .doc-panel .doc-download-action {
    width: 30px;
    height: 30px;
    margin-top: 10px;
}
.refaund-side-bar .user-docs .doc-panel .doc-download-action img {
    width: 15px;
    height: 15px;
}
.refaund-side-bar .user-docs .doc-panel .doc-icon {
    height: 40px;
    width: 40px;
}
.refaund-side-bar .user-docs .doc-panel .doc-icon img{
    height: 20px;
    width: 20px;
}
.refaund-side-bar .user-docs .doc-panel .doc-details {
    width: 65%;
}
.refaund-box-info.user-docs-box{
    padding: 0;
}
.refaund-box-info.user-docs-box .user-docs{
    width: 100%;
}
.refaund-box-info.user-docs-box .ui-pagination {
    margin-top: 25px;
    margin-bottom: 25px;
}
.search-input {
    padding: 12px;
    position: relative;
}
.search-input::after {
    content: "";
    width: 15px;
    height: 14px;
    background-position: center;
    background-size: cover;
    position: absolute;
    background-repeat: no-repeat;
    left: 25px;
    background-image: url(../images/icones/search.svg);
    top: 50%;
    transform: translateY(-50%);
}
.search-input .search-input {
    height: 50px;
    width: 100%;
    background-color: #F8F8F8;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    color: #BABABA;
    text-indent: 30px;
}

/* new folder style  */
.new-folder-form {
    background-color: #fff;
    padding: 44px 112px 110px 50px;
}
.new-folder-form .btn-update img{
    margin-right: 15px;
    width: 6px;
    height: 12px;
}
.new-folder-form .form-title-box {
    padding-top: 27px;
    padding-bottom: 42px;
    text-align: center;
}
.new-folder-form .form-title-box .form-title {
    color: #43464E;
    font-family: "SFProDisplay-Medium";
    font-size: 37px;
}
.new-folder-form .form-title-box .form-under-title {
    color: #8E8E8E;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: "SFProDisplay-Medium";
    font-size: 22px;
}
.new-folder-form form{
    padding: 0px 110px 0px 110px;
}
.new-folder-form form .form-control{
    height: 50px;
    border: 1px solid #EDEDED;
    color: #3E4145;
    font-size: 14px;
}
.new-folder-form form .total-input .form-control,
.new-folder-form form .date .form-control{
    text-indent: 30px;
}
.intervention-details{
    align-items: center;
    padding: 30px 0;
}
.intervention-details .intervention-title{
    color: #272525;
    font-family: "SFProDisplay-Medium";
    font-size: 20px;
    margin-bottom: 0;
}
.intervention-details .intervention-item{
    text-align: center;
}
.intervention-details .intervention-item img{
    height: 30px;
    width: 30px;
}
.intervention-details .intervention-item p{
    font-size: 14px;
    color: #272525;
    font-family: "SFProDisplay-Medium";
}
.intervention-details .intervention-item input{
    height: 40px;
    border-radius: 4px;
    font-size: 12px;
    color: #3E4145;
    text-indent: 15px;
    border: 1px solid #EBEBEB;
    width: 60px;
}

.new-folder-form .date::after {
    content: "";
    background-image: url(../images/icones/calendar.svg);
    width: 18px;
    height: 16px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
}
.new-folder-form .total-input {
    position: relative;
}
.new-folder-form .total-input::after {
    content: "";
    background-image: url(../images/icones/calculator.svg);
    width: 17px;
    height: 19px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
}
.new-folder-form .anew-folder-action {
    text-align: center;
    margin-top: 30px;
}
.new-folder .user-panel{
    text-align: left;
    display: flex;
    align-items: center;
    padding: 57px 0;
    justify-content: flex-start;
}
.new-folder .user-panel .user-avatar{
    margin: 0;
    margin-right: 10px;
    width: 70px;
    height: 70px;
}
.new-folder .user-panel .user-name {
    font-size: 20px;
    font-family: "SFProDisplay-Medium";
    color: #44515F;
    margin-bottom: 0px;
}
.new-folder .user-panel .user-ref {
    font-size: 18px;
    margin-bottom: 0;
    margin-top: 0px;
}
.new-folder .more-folders-title{
    color: #9CA5AF;
    font-size: 14px;
    text-transform: uppercase;
    font-family: "SFProDisplay-Semibold";
}
.new-folder .more-folders-col {
    padding: 0px 67px 0 67px;
}
.new-folder .more-folders-col  .more-folders-item {
    background-color: #fff;
    width: 100%;
    margin-bottom: 10px;
    box-shadow: 0 0 20px 0px #00000012;
}
.new-folder .more-folders-col  .more-folders-footer {
    display: flex;
    align-items: center;
    height: 50px;
    border-top: 1px solid #EFEFEF;
    justify-content: space-around;
}
.new-folder .more-folders-col  .more-folders-footer .more-folders-type span{
    color: #3B3F43;
    font-size: 15px;
    margin-right: 5px;
    font-family: "SFProDisplay-Semibold";
}
.new-folder .more-folders-col  .more-folders-footer .more-folders-type img{
    height: 22px;
    width: 22px;
}
.new-folder .more-folders-col .more-folders-body {
    align-items: center;
    min-height: 95px;
    padding: 15px;
}
.new-folder .more-folders-col  .more-folders-body .folder-icon{
    width: 33px;
    height: 39px;
    margin: 0 auto;
}
.new-folder .more-folders-col  .more-folders-body .folder-details .folder-label{
    color: #3B3F43;
    font-size: 15px;
    margin-bottom: 0;
    font-family: "SFProDisplay-Medium";
}
.new-folder .more-folders-col  .more-folders-body .folder-details .ui-progress{
    background-color: #EDEDED;
    border-radius: 6px;
    margin-bottom: 0;
}
.new-folder .more-folders-col  .more-folders-body .folder-details .folder-date{
    color: #898D91;
    margin-bottom: 0;
    font-size: 14px;
}
.add-conge-modal.add-formation-modal .modal-body {
    padding: 60px;
    position: relative;
}
.add-conge-modal.add-formation-modal .modal-body::after{
    content: "";
    background-color: #F8FAFB;
    width: calc(58.333333% - 130px);
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 20px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 0;
}
.add-conge-modal .add-formation-title {
    margin-bottom: 30px;
}
.add-conge-modal  .add-formation-form .form-control {
    height: 48px;
}
.add-conge-modal  .add-formation-form textarea.form-control {
    height: 114px;
}
.conge-hestory {
    z-index: 3;
    padding: 49px 0px 0px 49px;
    position: relative;
}
.conge-hestory .conge-hestory-title {
    color: #9CA5AF;
    font-size: 14px;
    text-transform: uppercase;
    font-family: "SFProDisplay-Semibold";
}
.conge-hestory  .conge-hestory-item {
    align-items: center;
    display: flex;
    position: relative;
    margin: 25px 0px;
    padding-left: 15px;
    justify-content: space-between;
}
.conge-hestory  .conge-hestory-item::after {
    content: "";
    background-color: #88CE36;
    height: 41px;
    width: 5px;
    position: absolute;
    top: 0;
    left: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.conge-hestory  .conge-hestory-item::after {
    content: "";
    background-color: #FF4D4D;
    height: 41px;
    width: 5px;
    position: absolute;
    top: 0;
    left: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.conge-hestory  .conge-hestory-item.active::after {
    content: "";
    background-color: #88CE36;
    height: 41px;
    width: 5px;
    position: absolute;
    top: 0;
    left: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.conge-hestory  .conge-hestory-item .conge-title {
    color: #3B3F43;
    font-size: 15px;
    margin-bottom: 0;
    font-family: "SFProDisplay-Medium";
}
.conge-hestory .conge-days {
    color: #3B3F43;
    font-size: 20px;
    margin-bottom: 0;
    font-family: "SFProDisplay-Medium";
}

.conge-hestory  .conge-hestory-item .conge-date {
    color: #898D91;
    margin-bottom: 0;
    font-size: 14px;
}
.maladie-box-items {
    z-index: 1;
    position: relative;
}
.notes-hestory-title {
    color: #9CA5AF;
    font-size: 14px;
    text-transform: uppercase;
    font-family: "SFProDisplay-Semibold";
}
.add-note-modal.add-formation-modal .modal-body::after{
    content: "";
    background-color: #F8FAFB;
    width: 58.333333%;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 20px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 0;
}
.add-note-modal.add-formation-modal .maladie-box-item {
    padding: 15px 25px;
}
.add-note-modal.add-formation-modal .modal-body {
    padding: 60px;
    position: relative;
}
.add-note-modal.add-formation-modal .add-formation-form {
    padding-right: 25px;
}
.add-formation-under-title {
    color: #8E8E8E;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: "SFProDisplay-Medium";
    font-size: 22px;
}
/* add-doc-modal */
.add-doc-modal.add-formation-modal .add-formation-heder {
    display: block;
}
.add-doc-modal.add-formation-modal .doc-hestory {
    margin-top: 25px;
    position: relative;
    z-index: 1;
}
.add-doc-modal.add-formation-modal  .modal-body::after {
    content: "";
    background-color: #F8FAFB;
    width: 45%;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 20px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 0;
}

.add-doc-modal.add-formation-modal form  textarea {
    height: 160px !important;
}
.add-doc-modal.add-formation-modal .add-formation-form {
    padding: 0 80px;
}
.add-doc-modal.add-formation-modal .add-formation-heder {
    padding: 0 80px;
    margin-bottom: 45px;
    margin-top: 40px;
}
.doc-hestory-title {
    color: #9CA5AF;
    font-size: 14px;
    text-transform: uppercase;
    font-family: "SFProDisplay-Semibold";
}
.doc-hestory-items .doc-hestory-item {
    min-height: 110px;
    background-color: #fff;
    border-radius: 10px;
    margin: 15px 0;
    padding: 10px 20px;
    box-shadow: 0 0 20px 0px #00000012;
}
.doc-hestory-items .doc-hestory-item .doc-hestory-details {
    display: flex;
    align-items: center;
}
.doc-hestory-items .doc-hestory-item .doc-hestory-details .doc-title {
    margin-bottom: 0;
    color: #000;
    font-size: 14px;
    font-family: "SFProDisplay-Medium";
}
.doc-hestory-items .doc-hestory-item .doc-hestory-details .doc-date {
    font-size: 14px;
    margin-bottom: 0;
}
.doc-hestory-items .doc-hestory-item .doc-hestory-details img {
    width: 24px;
    height: 28px;
    margin-right: 10px;
}
.doc-hestory-items .doc-hestory-item .doc-status {
    color: #F54055;
    font-size: 13px;
    background-color: #FFF4F5;
    display: inline-block;
    padding: 4px 10px;
    border-radius: 4px;
    margin-bottom: 0;
    margin-top: 6px;
}
.doc-hestory-items .doc-hestory-item.valide .doc-status {
    color: #84C246;
    background-color: #F5FAF0;
}

/* absences-items */

.absences-item {
    box-shadow: 0 0 20px 0px #00000012;
    padding: 20px 35px;
    background-color: #fff;
    border-radius: 7px;
    display: flex;
    margin-bottom: 15px;
    justify-content: space-between;
    align-items: center;
}
.absences-item .absences-date {
    color: #000000;
    font-size: 13px;
    margin-bottom: 0;
}
.absences-item .absences-date span{
    color: #000000;
    font-size: 8px;
    margin-bottom: 0;
}
.absences-item .absences-type{
    font-size: 11px;
    padding: 1px 15px;
    display: inline-block;
    margin-bottom: 0;
    font-family: "SFProDisplay-Medium";
    color: #FC4545;
    background-color: #fc454526;
}
.absences-item.justified .absences-type{
    color: #84C246;
    background-color: #84c24621;
}
.absences-item .absences-action a {
    color: #84C246;
    background-color: #84c24621;
    font-size: 12px;
    padding: 3px 18px;
    border-radius: 5px;
    font-family: "SFProDisplay-Semibold";
}
.absences-item .absences-justified {
    font-size: 9px;
    color: #76959F;
    display: flex;
    margin-top: 5px;
    height: 16px;
    align-items: center;
}
.absences-item .absences-justified img {
    width: 10px;
    height: 15px;
}
.absences-item .absences-icon {
    width: 70px;
}
.absences-item .absences-icon img{
    width: 28px;
    height: 28px;
}
.absences-item .absences-action {
    width: 140px;
}
.absences-item .absences-details {
    width: calc(100% - 210px);
}
.absences-items {
    margin-top: 15px;
}
.modal-body.modal-just {
    padding: 60px;
}